* {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0; 
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
    background-color: azure;
    background-image: url('https://images.pexels.com/photos/933054/pexels-photo-933054.jpeg?cs=srgb&dl=pexels-joyston-judah-933054.jpg&fm=jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow-x: hidden;
}
header {
    background-image: url('');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #cccccc;
    width: 100%;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 200px;
}
.logo {
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: blue;
    font-weight: 700;
    font-size: 1.8em sans-serif;
    animation: go 7s ease-in-out infinite;
    transform: scale(1.1);
}
@keyframes go {
    0% {color:black;}
    25% {color: blue;}
    50% {color: green;}
    100% {color: red;}
}
.navigate a{
    color: hsl(0, 50%, 52%);
    text-decoration: none;
    font-size: 1em;
    font-weight: 500;
    padding-left: 10px;
    transition: all 0.7s ease-in-out;
}
.navigate a:hover {
    color:blue ;
    transform: scale(1.1);
}
.laptop {
    width: 600px;
    height: 300px;
    position: relative;
    border: 2px solid black;
    border-radius: 15px;
    margin-top: 55px;
    margin-left: 8px;
}
.main {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background-position: center;
    margin-left: 10px;
}
.main h2 {
    color: darkgray;
    font-size: 1.4em;
    font-weight: 500;
    margin-top: 15px;
    text-shadow: 1px 1px #000000;
}
.main h2 span {
    color: darkgray;
    display: inline-block;
    margin-top: 5px;
    font-size: 1.3em;
    font-weight: 600;
    text-shadow: 3px 3px #000000;
}
h2.name {
    font-weight: 700;
    color: #ad3d3d;
    margin-left: 8px;
}
.main-btn{
    text-decoration: none;
    color: #000000;
    margin-top: 10px;
    margin-left: 10px;
    background-color: whitesmoke;
    font-size: 15px;
    font-weight: 100;
    display: inline-block;
    padding: 0.9376em 2.1875;
    border-radius: 5px;
    border: 1px solid black;
    padding: 0px 5px;
    letter-spacing: 0.2px;
    transition: all 0.7s ease-in-out;
}
.main-btn:hover {
	transform: scale(1.1);
    background-color: lightskyblue;
}
.social-icons  {
    font-weight: 600;
    margin-top: 10px;
    margin-left: 2px;
    color: white;
    font-size: 1.8em;
    padding: 0px 8px;
    transition:all  7s ease-in-out;
}
.social-icons :hover {
    transform: scale(1.1);
}
.card {
    background-color: lightgray;
    width: 21.25em;
    box-shadow: 0.5px 25px rbga(111/15px);
	border-radius: 15px;
	padding: 20px;
	transition: 0.7s ease;
	margin-left: 12px;
	margin-top: 15px;
}
    .card:hover {
        transform: scale(1.1);
}
    .info {
        text-align: center;
        margin-left: 5px;
    }
    .info h3 span{
        font-size: 1.2em;
        font-weight: 400;
        text-shadow: 1px 1px #000000;
        color: orange;
        margin-left: 6px;
        padding-top: 5px;
    }
    .info p{
        text-align: justify;
    }
    .title {
        font-size: 1.5em;
        font-weight: 700;
        margin-left: 112px;
        color: black;
    }
    .act  {
        margin-left: 10px;
        margin-top: 13px;
        background-color:lightgray ;
        width: 21.25em;
        padding: 14px;
        text-align: justify;
        border-radius: 15px;
        transition: 0.7s ease-in-out;
    }
    .act:hover {
        transform: scale(1.1);
}

    .act h3 span{
        margin-left: 122px;
        color: hsl(243, 84%, 32%);
    }
    
    .now h4 {
       margin-left: 121px;
       color: hsl(0, 89%, 46%);
       font-weight: bolder;
       font-size: 1.2em;
       position: relative;
       text-shadow: 1px 1px #000000;
       margin-top: 20px;
    }
    .work {
        background-color: lightgray;
        width: 21.25em;
        padding: 20px;
        border-radius: 15px;
        margin-top: 10px;
        margin-left: 11px;
        transition: 0.7s ease-in-out;
    }
    div.work h3 {
        color: orange;
        position: relative;
        left: 56px;
        bottom: 7px;
        text-shadow: 1px 1px #000000;
        font-size: 1.2em;
        font-weight: 400;
    }
    .work:hover {
        transform: scale(1.1);
    }
    .work p{
    text-align: justify;
    }
    .got {
        margin-left: 130px;
        color: #ad3d3d;
        text-shadow: 1px 1px #000000;
        font-size: 1.2em;
        font-weight: 700;
        animation: start 7s ease-in-out infinite;
        transform: scale(1.1);
}
@keyframes start {
    0% {color: aliceblue;}
    25% {color: #ad3d3d;}
    50% {color: yellow;}
    100% {color: aqua;}
}
    
